{% extends "base.html" %}

{% block titulo %} Bienvenidos a RepoAstro {% endblock %} 

{% block contenido %}

    <div class="table-responsive">
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Dataset</th>
                    <th scope="col">Problema de optimización</th>
                    <th scope="col">Algoritmo de optimización</th>
                    <th scope="col">Cantidad de iteraciones</th>
                    <th scope="col">Solución inicial</th>
                    <th scope="col">Solución final</th>
                </tr>
            </thead>
            <tbody>
                {% for solucion in soluciones %}
                <tr>
                    <td><img src={{solucion.imagen.url}} width="300" height="300"></td>
                    <td>{{solucion.id_dataset.nombre}}</td>
                    <td>{{solucion.id_prob_opti.nombre}}</td>
                    <td>{{solucion.id_algo_opti.nombre}}</td>
                    <td>{{solucion.cant_ite}}</td>
                    <td>{{solucion.solucion_inicial}}</td>
                    <td>{{solucion.solucion_final}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
{% endblock %} 